<!DOCTYPE html>
<html>
<head>
  <title>Facebook Style Autocomplete scaffold for <%= singular_table_name %> <%= scaffold_parameter %></title>
  <%%= stylesheet_link_tag 'scaffold', 'fcbkcomplete.css' %>
  <%%= javascript_include_tag 'jquery-1.6.min', 'jquery.fcbkcomplete.min', 'facebook_lib' %>
  <%%= csrf_meta_tag %>
</head>
<body>

<%%= yield %>

</body>
</html>